h1 {
    font-size: 24pt;
    color: red;
    text-decoration: underline;
    font-family: tahoma, helvetica,sans-serif;
}

em {
    font-style: normal;
    color: green;
    background-color: lightgray;
    font-weight: bold; 
}

ul li {
    list-style-type: square;
    
}

a:hover{
text-decoration: none;
}

li:first-child {
    border: thick solid green;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1ex;
    width: 40%;
}

p.centered {
    text-align: center;
    width: 50%;
}

.humEvo{
    border: thick solid red;
    text-align: center;
    text-decoration: none;
}
